ng-include.ng-enter,
[ng-include].ng-enter,
ng-view.ng-enter,
[ng-view].ng-enter,
ui-view.ng-enter,
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
ng-include.ng-enter-active,
[ng-include].ng-enter-active,
ng-view.ng-enter-active,
[ng-view].ng-enter-active,
ui-view.ng-enter-active,
[ui-view].ng-enter-active {
  opacity: 1;
}
.ng-animate-block-transitions {
  -webkit-transition: 0s all !important;
  -moz-transition: 0s all !important;
  -ms-transition: 0s all !important;
  -o-transition: 0s all !important;
  transition: 0s all !important;
  -webkit-transition: 0s all !important;
}
.ng-hide-add-active,
.ng-hide-remove {
  display: block !important;
}
.ng-hide-add-active,
.ng-hide-remove {
  display: block !important;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
ng:form {
  display: block;
}
@-webkit-keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
  60% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}
@-webkit-keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
  23% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}
.item.ng-enter,
.item.ng-leave {
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
}
/*.item.ng-enter
  animation-name(slide-in)

.item.ng-leave
  animation-name(slide-out)*/
.item.ng-enter-stagger,
.item.ng-leave-stagger {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
}
.item.ng-move {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.item.ng-move-active {
  opacity: 1;
}
.dropdown-menu.ng-enter,
.dropdown-menu.ng-leave {
  -webkit-transition: opacity 350ms;
  -moz-transition: opacity 350ms;
  -ms-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;
}
.dropdown-menu.ng-enter-active,
.dropdown-menu.ng-leave {
  opacity: 1;
}
.dropdown-menu.ng-leave-active,
.dropdown-menu.ng-enter {
  opacity: 0;
}
@-moz-keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
  60% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
  60% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}
@-o-keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
  60% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}
@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
  60% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}
@-moz-keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
  23% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}
@-webkit-keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
  23% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}
@-o-keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
  23% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}
@keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
  23% {
    transform: translate3d(3%, 0, 0);
  }
  83% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}
