@import 'mixins'

ng-include.ng-enter, [ng-include].ng-enter, ng-view.ng-enter, [ng-view].ng-enter,
ui-view.ng-enter, [ui-view].ng-enter
  opacity 0
  transition opacity 1s

ng-include.ng-enter-active, [ng-include].ng-enter-active, ng-view.ng-enter-active, [ng-view].ng-enter-active,
ui-view.ng-enter-active, [ui-view].ng-enter-active
  opacity 1

.ng-animate-block-transitions
  transition 0s all!important
  -webkit-transition 0s all!important

.ng-hide-add-active, .ng-hide-remove
  display block!important

.ng-hide-add-active, .ng-hide-remove
  display block!important

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide
  display none !important

ng\:form
  display block

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }

  60% {
    transform: translate3d(3%, 0, 0);
  }

  83% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }

  60% {
    transform: translate3d(3%, 0, 0);
  }

  83% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }
}

@keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }

  23% {
    transform: translate3d(3%, 0, 0);
  }

  83% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}

@-webkit-keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
  }

  23% {
    transform: translate3d(3%, 0, 0);
  }

  83% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
    margin-bottom: -97px;
  }
}

.item.ng-enter,
.item.ng-leave
  animation-duration(900ms)

/*.item.ng-enter
  animation-name(slide-in)

.item.ng-leave
  animation-name(slide-out)*/

.item.ng-enter-stagger,
.item.ng-leave-stagger
  animation-delay(200ms)
  animation-duration(0s)

.item.ng-move
  opacity 0
  transition opacity 1s

.item.ng-move-active
  opacity 1

.dropdown-menu.ng-enter,
.dropdown-menu.ng-leave
  transition opacity 350ms

.dropdown-menu.ng-enter-active,
.dropdown-menu.ng-leave
  opacity 1

.dropdown-menu.ng-leave-active,
.dropdown-menu.ng-enter
  opacity 0

