@import 'mixins'

ng-include.ng-enter, [ng-include].ng-enter, ng-view.ng-enter, [ng-view].ng-enter,
ui-view.ng-enter, [ui-view].ng-enter
  opacity 0
  transition opacity 1s

ng-include.ng-enter-active, [ng-include].ng-enter-active, ng-view.ng-enter-active, [ng-view].ng-enter-active,
ui-view.ng-enter-active, [ui-view].ng-enter-active
  opacity 1

.ng-animate-block-transitions
  transition 0s all!important
  -webkit-transition 0s all!important

.ng-hide-add-active, .ng-hide-remove
  display block!important

.ng-hide-add-active, .ng-hide-remove
  display block!important

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide
  display none !important

ng\:form
  display block

.item.ng-enter,
.item.ng-leave
  animation-duration(900ms)

.item.ng-enter
  animation-name(slide-in)

.item.ng-leave
  animation-name(slide-out)

.item.ng-enter-stagger,
.item.ng-leave-stagger
  animation-delay(200ms)
  animation-duration(0s)

.item.ng-move
  opacity 0
  transition opacity 1s

.item.ng-move-active
  opacity 1

