ng-include.ng-enter,
[ng-include].ng-enter,
ng-view.ng-enter,
[ng-view].ng-enter,
ui-view.ng-enter,
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
ng-include.ng-enter-active,
[ng-include].ng-enter-active,
ng-view.ng-enter-active,
[ng-view].ng-enter-active,
ui-view.ng-enter-active,
[ui-view].ng-enter-active {
  opacity: 1;
}
.ng-animate-block-transitions {
  -webkit-transition: 0s all !important;
  -moz-transition: 0s all !important;
  -ms-transition: 0s all !important;
  -o-transition: 0s all !important;
  transition: 0s all !important;
  -webkit-transition: 0s all !important;
}
.ng-hide-add-active,
.ng-hide-remove {
  display: block !important;
}
.ng-hide-add-active,
.ng-hide-remove {
  display: block !important;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
ng:form {
  display: block;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fadeItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Standard syntax */
.flexListItem {
  -webkit-animation: fadeItem 0.5s linear;
  animation: fadeItem 0.5s linear;
}
.dropdown-menu.ng-enter,
.dropdown-menu.ng-leave {
  -webkit-transition: opacity 350ms;
  -moz-transition: opacity 350ms;
  -ms-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;
}
.dropdown-menu.ng-enter-active,
.dropdown-menu.ng-leave {
  opacity: 1;
}
.dropdown-menu.ng-leave-active,
.dropdown-menu.ng-enter {
  opacity: 0;
}
@-moz-keyframes fadeItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
