@import 'mixins'

default-color = #E5DEDE
thumb-glyphicon-size = 16px
thumb-btn-size = 14px
form-color = #404040
red-background-color = #CC0000
redColor = #CC0000
default-background-color = #F8DBDB //#E5DEDE // #F5CCCC
blueColor = #003466 //#0039A6
blueColorDisabled = #809AB2//#99B0DB
panelBackgroundColor = #F0B2B2
greenColor = #3a1
whiteColor = #FFFFFF
blackColor = #000000
borderRadius = 7px

a
  color blueColor

body
  background-color default-background-color // #C6D9F1
  padding-bottom 30px

form
  border-radius borderRadius
  color default-color
  font-size 16px
  padding 0 10px 20px

  legend
    color form-color
    font-size 42px
    font-family Helvetica, sans-serif
    text-shadow 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15)
    font-weight normal
    line-height 1
    text-shadow 0 3px 0 rgba(0,0,0,0.1)

.chart
  width 100%
  height 280px

.table-hover
  > tbody
    > tr:hover
      > td, th
        background-color #428bca
        color #eeeeee  !important

.table-hover
  > tbody
    > tr:hover
      > td
        cursor pointer

.table
  > tbody
    > tr
      > td
        vertical-align middle

#edit textarea
  width 100%
  resize none

#productTagsForm
  .row
    padding-left 5px

.panel-body
  border-radius borderRadius

.flexList
  display-flex 1
  flex-wrap 1
  padding 0

.flexListItem
  display-flex 1


.products .panel-body
  padding 30px 15px 0px 15px
  background-color panelBackgroundColor

.product .panel-body
  padding 30px 30px 10px
  background-color panelBackgroundColor

.panel
  padding 0
  border-radius borderRadius
  background-color transparent !important
  border none !important
  margin-bottom 20px

.product .panel-footer
  padding-left 0 !important
  border none !important
  background-color transparent !important

.cart .panel-body
  padding: 20px 15px 10px 15px
  background-color panelBackgroundColor // #FFFFFF //#FFDEDE

.truncate
  width 250px
  overflow hidden
  text-overflow ellipsis

footer
  width 100%
  height 25px
  background-color red-background-color //#CCCCCC
  position fixed
  bottom 0
  left 0
  padding-left 0px
  padding-right 0px
  .box
    margin 0 auto
    p
      height 15px
      color default-color
      font-size 0.8em
      padding 5px 0
      border-top 1px solid #d7e0e2

.detail-view .control-label
  padding-top 0  !important

.position-relative
  position relative

#detail
  .outer
    display table
    margin auto
    height 300px
    vertical-align middle
  .middle
    margin auto
    //padding 10% 0
    height 100%
    width 100%
    display table-cell
    vertical-align middle

#welcome
  .panel-heading
    color black
    font-weight bold
  .outer
    display table
    margin auto
    height 100%
    width 100%
    position absolute
  .middle
    display table-cell
    vertical-align middle
  .inner
    margin-left auto
    margin-right auto


.navbar
  border none

.navbar-right
  margin-right 0 !important

.navbar-inverse .navbar-nav > .active
  background-color black !important
  border 1px solid black
  /*background-image-to-bottom(#A7025E 0%, #0f0f0f 100%)*/

.nav-tabs > li
  margin-bottom 0

.nav-tabs > li.active > a
  background-color #007ACC !important
  color #FFFFFF !important

.navbar.navbar-inverse
  background-color red-background-color
  border-color red-background-color

.navbar-inverse .navbar-nav > li > a
  color default-color

.table td.tdRight
  text-align right

.table td.tdCenter
  text-align center

.table-nonfluid
  width auto

.products .price, .product .price
  margin-top 0
  margin-bottom 20px
  color redColor

.products .origPrice, .product .origPrice
  margin-top 0
  margin-bottom 0
  color greenColor

.nav path
  fill #fff


h1 span
  font-size: 50%;
  display: block;

pre
  padding: 25px;

table td
  font-size: 14px;

table tfoot td
  font-weight: bold;

.navbar-fixed-top ul.navbar-nav li a
  padding-bottom: 14px;

mark
  font-size .9em
  font-weight bold

.main
  padding 40px 15px

.nobreak
  white-space nowrap !important

.okbreak
  white-space normal !important

.width100pcnt
  width 100% !important

.products .thumbnail img
  padding 5px 0 10px 0

#sortByPrice, #priceBar .btn-primary
  background-color whiteColor
  color redColor
  border-color whiteColor

#priceBar
  position relative
  padding 9px 15px
  height 40px

#sortByPrice
  font-size 16px
  padding-top 6px
  margin-top 8px
  margin-left -5px
  height 32px

#priceBar ul
  margin-left 15px
  position absolute
  background-color blackColor

.dropdown-menu > li > a
  padding 3px 20px !important

#priceBar ul li a
  padding-left 10px
  color whiteColor
  &:hover
    vertical-align middle
    color black !important
    background-color white
    cursor pointer


.thumbnail
  padding 5px 10px 10px;
  border-radius borderRadius
  border-color transparent !important

.thumbnail h4
  font-weight bold

.thumbnail p
   overflow hidden

.products .thumbnail a
  text-decoration none

.page
  margin-top 80px

.nav path
  fill:#fff

/*.nav-item
  bottom -1px*/

.nav-cart
  padding 5px 0 5px 0 !important
  width 150px  !important

/*.alert-warning
  background-color #FFDEDE
  border-color #FACCCC*/

.cart .table-striped > tbody > tr:nth-of-type(odd)
  bacground-color #FFFFFF


.cart table
  tbody, th
    border-bottom 1px solid blackColor !important
   td, tr
    border-top none !important
    border-bottom none !important

.btn-primary
  background-color blueColor
  border none !important

.nav .row
  margin-left 20px

.cart .items
  border 1px solid #FACCCC //E5DEDE // #F0B2B2
  background-color #FFFFFF
  border-radius borderRadius
  padding 18px 5px 0 5px;
  margin 10px 10px 20px 10px

.cart .alert
  margin-bottom 0
  padding-top 0
  padding-left 0

.products .alert
  margin-right 10px
  margin-left 10px
  padding-left 20px
  margin-bottom 30px
  margin-top -10px

.alert-warning
  background-color whiteColor !important
  border-color whiteColor !important

.glyphicon
  color blueColor

.checkout
  margin-right -35px

.checkout h4
  color blueColor
  font-weight bold

.ngCart.cart span[ng-click]
  cursor: pointer

.default-cursor
  cursor default !important

.hand-cursor
  cursor pointer !important

.blue-disabled
  color blueColorDisabled

.ngCart.cart .glyphicon.disabled
  color blueColorDisabled

.thumbGlyphiconSize
  font-size thumb-glyphicon-size

.thumbBtnSize
  margin-top -5px !important
  font-size thumb-btn-size

.odd-img-responsive
  width 100%

img
  color blackColor !important


