a {
  color: #003466;
}
body {
  background-color: #f8dbdb;
  padding-bottom: 30px;
}
form {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #e5dede;
  font-size: 16px;
  padding: 0 10px 20px;
}
form legend {
  color: #404040;
  font-size: 42px;
  font-family: Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.chart {
  width: 100%;
  height: 280px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover th {
  background-color: #428bca;
  color: #eee !important;
}
.table-hover > tbody > tr:hover > td {
  cursor: pointer;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
#edit textarea {
  width: 100%;
  resize: none;
}
#productTagsForm .row {
  padding-left: 5px;
}
.panel-body {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.flexList {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.flexListItem {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.products .panel-body {
  padding: 30px 15px 0px 15px;
  background-color: #f0b2b2;
}
.product .panel-body {
  padding: 30px 30px 10px;
  background-color: #f0b2b2;
}
.panel {
  padding: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 20px;
}
.product .panel-footer {
  padding-left: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.cart .panel-body {
  padding: 20px 15px 10px 15px;
  background-color: #f0b2b2;
}
.truncate {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer {
  width: 100%;
  height: 25px;
  background-color: #c00;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
}
footer .box {
  margin: 0 auto;
}
footer .box p {
  height: 15px;
  color: #e5dede;
  font-size: 0.8em;
  padding: 5px 0;
  border-top: 1px solid #d7e0e2;
}
.detail-view .control-label {
  padding-top: 0 !important;
}
.position-relative {
  position: relative;
}
#detail .outer {
  display: table;
  margin: auto;
  height: 300px;
  vertical-align: middle;
}
#detail .middle {
  margin: auto;
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
#welcome .panel-heading {
  color: #000;
  font-weight: bold;
}
#welcome .outer {
  display: table;
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
}
#welcome .middle {
  display: table-cell;
  vertical-align: middle;
}
#welcome .inner {
  margin-left: auto;
  margin-right: auto;
}
.center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
  padding: 20px;
  text-align: center;
/*box-shadow 0 0 30px rgba(0, 0, 0, 0.2)*/
}
.navbar {
  border: none;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 15px;
    margin-left: 0;
  }
}
.navbar-inverse .navbar-nav > .active {
  background-color: #000 !important;
  border: 1px solid #000;
/*background-image-to-bottom(#A7025E 0%, #0f0f0f 100%)*/
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li.active > a {
  background-color: #007acc !important;
  color: #fff !important;
}
.navbar.navbar-inverse {
  background-color: #c00;
  border-color: #c00;
}
.navbar-inverse .navbar-nav > li > a {
  color: #e5dede;
}
.table td.tdRight {
  text-align: right;
}
.table td.tdCenter {
  text-align: center;
}
.table-nonfluid {
  width: auto;
}
.products .price,
.product .price {
  margin-top: 0;
  margin-bottom: 20px;
  color: #c00;
}
.products .origPrice,
.product .origPrice {
  margin-top: 0;
  margin-bottom: 0;
  color: #3a1;
}
.nav path {
  fill: #fff;
}
h1 span {
  font-size: 50%;
  display: block;
}
pre {
  padding: 25px;
}
table td {
  font-size: 14px;
}
table tfoot td {
  font-weight: bold;
}
.navbar-fixed-top ul.navbar-nav li a {
  padding-bottom: 14px;
}
mark {
  font-size: 0.9em;
  font-weight: bold;
}
.main {
  padding: 40px 15px;
}
.nobreak {
  white-space: nowrap !important;
}
.okbreak {
  white-space: normal !important;
}
.width100pcnt {
  width: 100% !important;
}
.products .thumbnail img {
  padding: 5px 0 10px 0;
}
#sortByPrice,
#priceBar .btn-primary {
  background-color: #fff;
  color: #c00;
  border-color: #fff;
}
#priceBar {
  position: relative;
  padding: 9px 15px;
  height: 40px;
}
#sortByPrice {
  font-size: 16px;
  padding-top: 6px;
  margin-top: 8px;
  margin-left: -5px;
  height: 32px;
}
#priceBar ul {
  margin-left: 15px;
  position: absolute;
  background-color: #000;
}
.dropdown-menu > li > a {
  padding: 3px 20px !important;
}
#priceBar ul li a {
  padding-left: 10px;
  color: #fff;
}
#priceBar ul li a:hover {
  vertical-align: middle;
  color: #000 !important;
  background-color: #fff;
  cursor: pointer;
}
.thumbnail {
  padding: 5px 10px 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-color: transparent !important;
}
.thumbnail h4 {
  font-weight: bold;
}
.thumbnail p {
  overflow: hidden;
}
.products .thumbnail a {
  text-decoration: none;
}
.page {
  margin-top: 80px;
}
.nav path {
  fill: #fff;
}
/*.nav-item
  bottom -1px*/
.nav-cart {
  padding: 5px 0 5px 0 !important;
  width: 150px !important;
}
/*.alert-warning
  background-color #FFDEDE
  border-color #FACCCC*/
.cart .table-striped > tbody > tr:nth-of-type(odd) {
  bacground-color: #fff;
}
.cart table tbody,
.cart table th {
  border-bottom: 1px solid #000 !important;
}
.cart table td,
.cart table tr {
  border-top: none !important;
  border-bottom: none !important;
}
.cart .table-responsive {
  border-color: #000;
}
.btn-primary {
  background-color: #003466;
  border: none !important;
}
.nav .row {
  margin-left: 20px;
}
.cart .items {
  border: 1px solid #facccc;
  background-color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 18px 5px 0 5px;
  margin: 10px 10px 20px 10px;
}
.cart .alert {
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
}
.products .alert {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-top: -10px;
}
.alert-warning {
  background-color: #fff !important;
  border-color: #fff !important;
}
.glyphicon {
  color: #003466;
}
.checkout {
  padding-bottom: 10px;
  padding-right: 10px;
}
/*  margin-right -35px*/
.checkout h4 {
  color: #003466;
  font-weight: bold;
}
.ngCart.cart span[ng-click] {
  cursor: pointer;
}
.default-cursor {
  cursor: default !important;
}
.hand-cursor {
  cursor: pointer !important;
}
.blue-disabled {
  color: #809ab2;
}
.ngCart.cart .glyphicon.disabled {
  color: #809ab2;
}
.thumbGlyphiconSize {
  font-size: 16px;
}
.thumbBtnSize {
  margin-top: -5px !important;
  font-size: 14px;
}
.odd-img-responsive {
  width: 100%;
}
img {
  color: #000 !important;
}
a.nounderline:hover {
  text-decoration: none;
}
