<section class="cart container page">
    <div class="panel">

        <div class="panel-body">
            <div class="items row">
                <div class="col-md-12">
                    <ngcart-cart></ngcart-cart>
                </div>
            </div>


            <div ng-show="size > 0" class="checkout row pull-right">
                <div class="col-md-12">

<!--                    <div class="col-xs-3 col-sm-4">
                        <h4>Checkout</h4>
                    </div>-->

                    <div class="col-xs-6 col-sm-12" style="height: 50px">
                        <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
