<section class="container product page">

        <div class="panel-body">
            <div class="col-sm-12 col-md-12 col-lg-12 thumbnail">
                <div class="row" style="margin: 20px">
                    <h4>{{item.name}}</h4>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding-bottom:10px" >
                        <img style="display: none"  class="center-block img-responsive" ng-src="images/products/{{item.image}}" imageonload="images/loaders/loading_icon_64.gif">
                    </div>
                    <div class="col-md-6"  style="padding:10px"  >
                        <div class="row" style="psdding-right: 0">
                            <p style="padding: 5px 30px" class="text-justify" ng-bind-html="item.description | html"></p>
                        </div>
                        <div class="row" style="margin:20px">
                            <h3 class="origPrice">Orig. {{item.origPrice | currency}}</h3>
                            <h3 class="price">Now&nbsp;&nbsp;{{item.price | currency}}</h3>
                            <ngcart-addtocart
                                    id="{{item.id}}"
                                    name="{{item.name}}"
                                    price="{{item.price}}"
                                    data="item"
                                    quantity="1"
                                    quantity-max="5">
                                Add to Cart
                            </ngcart-addtocart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="margin:0">
            <a class="btn btn-default"
               ui-sref="productList"
               style="width:80px">
                <I class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
        </div>

</section>