<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="container">
        <a ui-sref="home" style="padding-top:5px" class="navbar-brand">
            <img style="width:40px;" src="images/brand/Macys_star_white_on_red.png">
        </a>
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item" ng-class="{ active: $state.is('productList')}">
                    <a ui-sref="productList">Coffee Makers</a></li>

                <li ng-if="selectPriceBar" class="nav-item">
                    <div id="priceBar" class="btn-group" dropdown dropdown-append-to-body>
                        <button type="button" class="btn btn-primary dropdown-toggle"  dropdown-toggle>{{selectedPriceOption.name}}
                            &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="col-md-8 dropdown-menu" role="menu">
                            <li ng-repeat="option in priceOptions">
                                <a ng-click="setPriceOption(option)">{{option.name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li  ng-class="{ active: $state.is('cart')}">
                    <a ui-sref="cart" class="nav-cart">
                        <ngcart-summary></ngcart-summary>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>