
<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div >
        <span style="display:inline-block; white-space:nowrap; margin-bottom: 15px">
            <span class="glyphicon thumbGlyphiconSize glyphicon-minus" ng-class="{'blue-disabled': !ngCart.getItemById(id),'default-cursor': !ngCart.getItemById(id), 'hand-cursor': ngCart.getItemById(id)}"
                      ng-click="ngCart.getItemById(id) ? (ngCart.getItemById(id).getQuantity()==1 ? ngCart.removeItemById(id) : ngCart.getItemById(id).setQuantity(-1, true)) : angular.noop"></span>
            <a ui-sref="cart" style="margin: 0 2px 0 6px"> <span class="glyphicon thumbGlyphiconSize glyphicon-shopping-cart" ></span></a>
            <span class="thumbGlyphiconSize" style="padding:0 0 1px 0;margin: 0 3px">{{(ngCart.getItemById(id).getQuantity() || 0) | number }}</span>
        </span>

       <span style="margin: 0 3px" class="thumbBtnSize btn btn-sm btn-primary"
           ng-click="ngCart.getItemById(id) ? ngCart.getItemById(id).setQuantity(1, true) : ngCart.addItem(id, name, price, 1, data)"
           ng-transclude>
       </span>
    </div>
</div>

