
<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="table-responsive" ng-show="ngCart.getTotalItems() > 0">

    <table class="table ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="3"><span class="pull-right">Quantity</span></th>
            <th><span class="pull-right">Amount</span></th>
            <th><span class="pull-right">Total</span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="itemId = item.getId(); ngCart.removeItemById(itemId)" class="glyphicon glyphicon-remove"></span></td>


            <td class="width100pcnt okbreak"><a class="nounderline" ui-sref="productDetail({productId: item.getId()})">{{ item.getName() }}</a></td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1,'default-cursor':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span></td><td><span class="pull-right">
                {{ item.getQuantity() | number }}</span></td>
                <td><span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)" ng-class="{'hand-cursor':item.getQuantity()>1}"></span></td>
            <td><span class="pull-right">{{ item.getPrice() | currency}}</span></td>
            <td><span class="pull-right">{{ item.getTotal() | currency }}</span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td colspan="3"></td>
            <td><span class="pull-right text-nowrap">Tax ({{ ngCart.getTaxRate() }}%):</span></td>
            <td><span class="pull-right">{{ ngCart.getTax() | currency }}</span></td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td colspan="3"></td>
            <td><span class="pull-right">Shipping:</span></td>
            <td><span class="pull-right">{{ ngCart.getShipping() | currency }}</span></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="3"></td>
            <td><span class="pull-right">Total:</span></td>
            <td><span class="pull-right">{{ ngCart.totalCost() | currency }}</span></td>
        </tr>
        </tfoot>
    </table>
</div>
